@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
*{
    margin: 0;
}
body{
    margin: 0;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    background: linear-gradient(135deg,hsl(0, 80%, 86%,hsl(0, 0%, 100%)));
}
main{
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
    width: 100vw;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
}
.img-mob{
    display: none;
}
.logo{
    margin-bottom: 15vh;
}
.box-main{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    max-height: 100vh;
    padding-left: 15vw;
    width: fit-content;
    /* padding-right: 30vw; */
    padding-top: 10vh;
    /* max-width: 30vw; */
    width: 35vw;
}
.text-big{
    color: hsl(0, 36%, 70%);
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 13px;
    margin-bottom: 5vh;
}
.text-dark{
    color: black;
    font-weight: 600;
}
.box-image{
    display: flex;
    max-height: 100vh;
    overflow: hidden;
    width: 70%;
    flex-direction: row;
    justify-content: flex-end;
}
.box-image > img{
    display: flex;
    width: 35vw;
}
.text-small{
    color: hsl(0, 36%, 70%);
    font-weight: 400 ;
    line-height: 4vh;
    margin-bottom: 5vh;
}
.form{
    display: flex;
}
#email{
    width: 100%;
    padding: 15px;
    border-radius: 24px;
    outline: none;
    border:0.5px solid hsl(0, 36%, 70%) ;
}
#submit-btn{
        /* position: absolute; */
        display: flex;
        align-items: center;
        z-index: 4;
        background: linear-gradient(
            135deg
            ,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
                /* padding: 15px; */
        padding-left: 35px;
        border-radius: 24px;
        border: none;
        margin-left: -60px;
        padding-right: 35px;
}
#submit-btn:hover{
    background: linear-gradient(
            135deg
            ,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
}
#errors{
    display: none;
    margin-left: 30px;
    margin-top: 10px;
    color:  hsl(0, 93%, 68%);
    font-weight: 600;
}
@media (max-width: 1023px) {
    main{
        overflow: auto;
    }
    .logo{
        margin-left: 5vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .box-image{
        display: none;
    }
    .img-mob{
        display: flex;
        width: 100vw;
    }
    .img-mob > img{
        width: 100vw;
    }
    .box-main{
        padding: 0;
        width: 100vw;
    }
    .text-big{
        margin-top: 5vh;
        text-align: center;
    }
    .text-small{
        padding: 4vw;
        text-align: center;
    }
    .form{
        display: flex;
        justify-content: center;
    }
    #email{
        max-width: 70vw;
        margin-bottom: 5vh;
    }
    #submit-btn{
        margin-bottom: 5vh;
    }
}
